* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #252525;
  color: #FFF;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #C09578;
}

.light-bg-color {
  background-color: #FCF5EB
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #C09578;
}

.secondary-color {
  color: #626262;
}

.light-color {
  color: #FCF5EB
}

 /* Botão */

 .btn {
  background-color: transparent;
  border: 2px solid #C09578;
}

.btn:hover {
  background-color: #C09578;
  border: 2px solid #C09578;
}

/* NAVBAR */
/* SOBREESCREVER OS ESTILOS DO BOOTSTRAP */
#navbar .navbar-nav {
flex-direction: row;
justify-content: end;
}

#navbar .navbar-nav li {
 margin-left: 1em; /* A medida em serve para dar responsividade com base na fonte do elemento pai */
}

#navbar a,
#navbar button {
color: #FFF;
}

#navbar li {
position: relative;
}

#navbar i {
font-size: 20px;
}

#navbar span {
position: absolute;
top: -8px;
right: -8px;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #ef0000;
text-align: center;
}

#bag-item span {
left: 20px;
}

.navbar-brand {
font-weight: 700;
width: 100%;
text-align: center;
}

@media(min-width: 768px) {
.navbar-brand {
  text-align: left;
}
}

#navbar-items {
justify-content: space-between;
white-space: nowrap;
}

@media(min-width: 768px) {
#navbar-items {
  display: flex;
  min-width: 80%;
 }
}

/* Personalização do input */
#search-form,
#news-form {
  width: 100%;
  margin: 2em 0;
}

@media(min-width: 768px) {
  #search-form {
    width: 50%;
    margin: 0;
   }
 }

 #search-form input,
 #news-form input {
   background-color: transparent;
   border: none;
   color: #FFF;
  }
  #search-form,
  #news-form {
    border: 2px solid #626262;
    border-radius: 3px;
    padding: 5px 15px;
  }
  
  
  #search-form input:focus,
  #news-form input:focus {
    box-shadow: none;
  }

#search-form input::placeholder,
#news-form input::placeholder {
  color: #FFF;
}

/* NavBar secundaria */
#navbar-secondary .container {
  display: flex;
  justify-content: flex-end;
}

#navbar-secondary .navbar-nav {
  display: flex;
  align-items: center;
}

#navbar-secondary .nav-link {
  font-weight: 600;
  color: #FFF;
}

#navbar-secondary .navbar-toggler {
  border: none;
}

/* Caroussel */

#banners-container {
  padding: 0;
}

.carousel-caption {
  bottom: 5em;
  padding: 1em;
  right: 12%;
  left: 12%;
}

.carousel-caption h5 {
  font-size: 1.8em;
  font-weight: 700;
}

@media(min-width: 768px) {
  #slider .carousel-item,
  #slider img {
    height: 600px;
  }
  .carousel-caption {
    right: 23%;
    left: 23%;
  }  

  .carousel-caption h5 {
    font-size: 3em;
  }
 }

  /*MINI-BANNERS */
  #mini-banners {
    margin-top: -3em;
    z-index: 10;/*quanto maior o z-index, mais a frente o elemento fica */
   }

    #mini-banners .col-12 {
      display: flex;
      flex-direction: column;
      z-index: 1;
      height: 300px;
      padding: 1.5em;
      position: relative;
      justify-content: space-between;
    }

    
    #mini-banners .col-12 h2 {
      text-transform: uppercase;
      max-width: 50px;
      font-size: 2.2em;
      font-weight: 700;
      line-height: 1em;
      white-space: nowrap;
    }
    @media(min-width: 992px) {
      #mini-banners .col-12 {
        max-width: 30%;
       }

       #mini-banners .col-12 h2 {
        font-size: 1.5em; 
       }
     }

      #mini-banners .col-12 img {
        height: 220px;
        position: absolute;
        right: 1em;
        bottom: 1em;
      }

      #mini-banners .col-12 a {
        font-weight: bold;
        color: #FFF;
        font-size: .8rem;
        transition: .5s;
      }

      #mini-banners .col-12 a:hover {
        color: #101010;
      } 

      #mini-banners #mini-banner-1 a:hover {
        color: #C09578;
      } 

      #mini-banners #mini-banner-3 a {
        color: #101010;
      }
      
      #mini-banners #mini-banner-3 h2 {
        color: #404040;
      }

         /* BEST SELLERS */

     #best-sellers {
      padding: 4em 0;
     }

     #best-sellers .row {
      margin: 0; /* Para remover o margin negativo do bootstrap */
     }

     #best-sellers .col-md-3 {
      padding: 0; /* Para remover o padding do bootstrap */     
    } 

    .title {
      text-transform: uppercase;
      font-weight: 900;    
      font-size: 2.5em;
      margin-bottom: 1em;
      text-align: center;
    }

     #best-sellers .card {
      display: flex;
      align-items: center;
      border: 1px solid rgba(192, 187, 187, 0.125);
      background-color: transparent;
      background-clip: border-box;
      transition: .5s;
      border-radius: 0;
     }

     #best-sellers .card img {
      padding-top: 2.5em;
      height: 300px;
      width: 140px;
     }

     @media(min-width: 768px) {
      #best-sellers .card img {
        height: 270px !important;
       }
       .title {
        text-align: left;
       }
     }

     @media(min-width: 992px) {
      #best-sellers .card img {
        width: 50%;
       }
     }

     #best-sellers .card .card-body {
      padding-top: 4em;
     }

     #best-sellers .card .card-body h5 {
      color: #fff
      }

      #best-sellers .card .card-body .card-text {
        color: #C09578;
        white-space: nowrap;
        padding: 3em;
        font-weight: bold;
      }

      #best-sellers a {
        color: #FFF;
        font-weight: bold;
        transition: .5s;
      }


      /* Destaque */

      #destaque {
        padding: 6em;
        margin-bottom: 3em;
      }

      #destaque .primary-color {
        font-size: 1.2em;
        font-weight: bold;
      }

      #destaque .secondary-color {
        font-weight: bold;
      }

      #destaque a {
        color: #FFF;
        font-weight: bold;
        padding: 1em;
        transition: .5s;
        margin-top: 2em;
      }

      #destaque h1 {
        text-transform: uppercase;
        font-weight: 900;    
        font-size: 2em;
      }

      #destaque .col-md-4 {
        text-align: center;
      }


      #destaque img {
        padding: 1em;
        max-width: 175px;
      }

      @media(min-width: 768px) {
        #destaque h1 {   
          font-size: 5em;
        }
      } 
      

       /* Novidades */
       #new-products {
        margin-bottom: 5em;
      }

      #new-products-banner {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
      }

      #new-products-banner h2 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0.5em;
        font-size: 2em;
      }

      #new-products-banner p {
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 0.5em;
        white-space: nowrap;
      }

      #new-products .col-md-4 {
        padding: 0;
      }

      #new-products .card .card-title {
        color: #FFF;
        font-size: 1em;
      }

      #new-products .card img {
        height: 150px;
        width: 90px;
        margin: 2em auto;
      }